#headear{
    display: grid;
    display: flex;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 80px;
    gap: 10px;
    justify-content: space-evenly;
    cursor: pointer;
    width: 95%;
    margin: auto;
}
#headear>div:hover{
    color:blue;
    text-decoration: underline;
    /* border: 1px solid red; */
}
#headear>div:nth-child(5){
    width:400px ;
}
#headear>div:last-child{
    border: 1px solid blue;
    border-radius: 40px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    margin-top: 5px;
    color: white;
    background-color: blue;
}
#smallcont{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: 100px;
    gap:20px;
    margin: auto;
    width: 60%;
    margin-top: 30px;
    cursor: pointer;
    padding-top: 60px;
}
#smallcont>div{
    /* border: 1px solid red; */
    font-family: "TT Commons Book",Arial,sans-serif;
    font-family:  "TT Commons Book",Arial,sans-serif;
}
#smallcont>div>h1{
    font-size: 20px;
    color: blue;
    font-family: "TT Commons Book",Arial,sans-serif;
    
    
}
#smallcont>div:nth-child(1){
    width: 550px;
    border-right: 2px solid red;
}
#smallcont>div>h1:hover{
    color:#000000;

}
#smallcont>div>h5{
    color: #0037FF;
}
#smallcont>div>h5:hover{
    border-bottom: 1px solid blueviolet;
    
    
}
#container{
    width: 100%;
    height: 600px;
    background-color: #F6F6F6;
}
#market{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,100px);
    gap: 20px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
}

#market>div>img{
    width: 30px;
}

#market>div>p{
    font-family: "TT Commons Book",Arial,sans-serif;
}
#recomendation{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 100px;
    gap: 10px;
    width: 60%;
    margin: auto;
    margin-top: 30px;
    border-top: 2px solid red;
    padding-top: 30px;
}
#recomendation>div{
    
    /* border: 1px solid red; */
}
#try{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,500px);
    width: 80%;
    margin: auto;
    gap: 20px;

}
#try>div{
    
    border-radius: 20px;
    background-color: #F6F6F6;
}
#try>div>button{
    margin:40px 0px 0px  120px;
    background-color: none;
    border: none;
    color: white;
    background-color: blue;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 20px;
    cursor: pointer;
}
#try>div>button:hover{
    background-color: darkblue;
}
#try>div>img{
    width: 70px;
    display: flex;
}
#try>div>p{
    margin-left: 30px;
}
#try>div:nth-child(6){
    background-color:#080736 ;
    color: #fff;
    font-family: "TT Commons Book",Arial,sans-serif;

}
#try>div:nth-child(6)>h1{
    margin-left: 30px;
    margin-top: 60px;
}
#try>div:nth-child(6)>button{
    margin-bottom:110px;
    margin-top: 50px;
    
}
#try>div:nth-child(6)>button+p{
    border-top: 2px solid white;
    padding-top: 40px;

}
#bigdiv{
    width: 100%;
    height: 700px;
    background-color: #F6F6F6;
    margin-top: 80px;
}
#bigdiv>h1{
    padding-top: 40px;
    margin-left: 100px
}
#bigdiv>p{
    
    margin-left: 100px;
    margin-bottom: 60px;
    font-size: 25px;
}
#inteligent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,200px);
    gap: 20px;
    width: 83%;
    margin: auto;
}
#inteligent>div{
    /* border: 1px solid red; */
    font-family: "TT Commons Book",Arial,sans-serif;
    color: #000000;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;

}
#inteligent>div>img{
    width: 40px;
}
#inteligent>div>h1{
    font-size: 20px;
    margin-left: 20px;
}
#inteligent>div>p{
    margin-left: 20px;
}
#inteligent>div>p+p{
    color: #0037FF;

}
#inteligent>div>p+p:hover{
    color:#000000;
}
#container+h1{
    font-size: 50px;
    margin-left: 130px;
}
#additionals{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 300px;
    gap: 20px;
    width: 90%;
    margin: auto;
}
#additionals>div{
    /* border: 1px solid red; */
    font-family: "TT Commons Book",Arial,sans-serif;
}
#additionals>div>img{
    width: 50px;
}
#additionals>div>h3+p{
    margin-bottom: 50px;
}
#bigdiv+h1{
    margin-top: 90px;
    margin-left: 60px;
    margin-bottom: 60px;
    font-size: 40px;
    font-family: "TT Commons Book",Arial,sans-serif;
    color: #000000;

}
#additionals>div:nth-child(1)>p{
    margin-bottom: 80px;

}
#additionals>div:nth-child(4)>p{
    margin-bottom: 80px;

}
#additionals>div:nth-child(3)>p{
    margin-bottom: 70px;

}
#additionals>div>p+p{
    color: #0037FF;
    cursor: pointer;

}
#additionals>div>p+p:hover{
    color:#000000;

}


#lastimg{
    display: flex;
    width: 90%;
    height: 200px;
    margin: auto;
    margin-top: 70px;
    border-radius: 10px;
    background-color: #ffcc00;
}
#lastimg>div>h1{
    margin-left: 100px;
    margin-top: 60px;
}
#lastimg>div>p{
    margin-left: 100px;
}
#lastimg>div>button{
    margin-top: 90px;
    margin-left: 300px;
    padding: 10px;
    border: none;
    background-color: #0037FF;
    border-radius: 20px;
    color:#FFFFFF;
    padding-left: 15px;
    padding-right: 15px;
}

#footer{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: 400px;
    gap: 15px;
    margin-top: 50px;
    background-color: black;
    /* width: 90%; */

}
#footer>div{
    /* border: 1px solid white; */
    width: 90%;
    line-height: 0px;
    color: white;
}
#footer>div>img{
    width: 30%;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: 40px;
    border-bottom: 2px solid red;
    padding-bottom: 30px;
}
#footer>div>h2{
    margin-left:40px;
    margin-bottom: 50px;
}
#footer>div>p{
    margin-left: 40px;
    margin-bottom: 20px;
    line-height: 15px;
}
#footer>div:nth-child(4)>label{
    margin-top: 80px;
    margin-bottom: 30px;
}
#downfoot{
    display: grid;
    height: 100px;
    
    background-color: #393A5D;
}
#downfoot>h5{
    margin:40px 0px 0px 50px;
    color: white;
}
#downfoot>h5:hover{
    color: white;
}
a{
text-decoration: none;
}
#headear>div:last-child:hover{
    color: #FFFFFF;
}
#headear+h1{
    font-size: 50px;
    margin-left: 30px;
}



